<h2>Edit User <%=@user[:id]%></h2>

<h3>Form to create new user / Register here</h3>

<form action="/users/<%= @user[:id] %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="name">New User Name:</label>
    <input id="name" type="text" name="user[name]" value="<%=@user[:name]%>" placeholder="Enter name">
  </div>

  <div class="form-group">
    <label> Email:
      <input type="email" name="user[email]" value="<%=@user[:email]%>" required>
    </label>
  </div>

  <div class="form-group">
    <label> Address:
      <input type="text" name="user[address]" value="<%=@user[:address]%>">
    </label>
  </div>

  <div class="form-group">
    <label> Password:
      <input type="password" name="user[password]" value="<%=@user[:password]%>">
    </label>
  </div>

  <div class="form-group">
    <label> Credit card number:
      <input type="text" name="user[cc_number]" value="<%=@user[:cc_number]%>">
    </label>
  </div>

  <input type="submit" name="name" value="submit">

</form>
