<%@headers.select!{|header| header != 'created_at' && header != 'updated_at' && header != 'id'}%>
<h4 class="notice"><%= flash[:notice] %></h4>

<table class='table table-striped'>
    <thead>
        <tr>
            <%@headers.each {|header|%>
              <th><%=header.upcase%></th>
            <%}%>
            <th>Actions</th>
      </tr>
</thead>
<tbody>
    <%@users.each {|user|%>
    <tr>
        <%@headers.each {|header|%>
        <td><%=user[header]%></td>
    <%}%>
    <td>
      <a href="/users/<%=user[:id]%>" class="btn btn-info" role="button">
         <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </a>
      <a href="/users/<%=user[:id]%>/edit" class="btn btn-primary" role="button">
         <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a>
      <form class="del_button" action="/users/<%=user[:id]%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger" name="button">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
      </form>
    </td>
</tr>
<%}%>
</tbody>
</table>
